body {
    background-image:linear-gradient(rgba(10, 8, 8, 0.452),rgba(10, 8, 8, 0.452)), url("./images/bg1.jpg");
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    width: 100%;
}
.container
{
    margin-top:219px;
    max-width: 782px;
        
    
}
.jumbotron
{
    background-color: grey;
}
.container .con{
  color: black;
}


@keyframes changetext {
    0% {
      color: rgb(65, 117, 141);
    }
    25% {
      color: rgb(74, 160, 63);
    }
    50% {
      color: blue;
    }
  }